body {
  background-color: #f3f9fb;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  background-color: none;
  width: 10%;
}

h1 {
  color: #113f67;
  font-family: serif;
}

h3 {
  color: #87c0cd;
}
